/* Remove default browser spacing */
body {
  margin: 0px;
}

/* Full screen center */
.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
  padding: 20px;
  
}

/* Card */
.login-card {
  background: white;
  width: 100%;
  max-width: 400px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
 
}

.login-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Input */
.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.input-group input:focus {
  outline: none;
  border-color: #667eea;
}

/* Button */
.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #667eea;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-btn:hover {
  background: #5a67d8;
}

/* Signup */
.signup-text {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.signup-text span {
  color: #667eea;
  cursor: pointer;
  font-weight: bold;
}

/* Responsive */
@media (max-width: 480px) {
  .login-card {
    padding: 20px;
  }
}
